In [1]:
# Import Pandas and NumPy
import pandas as pd
import numpy as np

# Import SQL Alchemy
from sqlalchemy import create_engine
import psycopg2

# Import Password
from config import password

In [2]:
# parking
# Save path to data set in a variable
parking = "Resources/chefmozparking.csv"

# Use Pandas to read data
parking_df = pd.read_csv(parking, encoding="ISO-8859-1")
parking_df.head()

   placeID parking_lot
0   134999      public
1   132825        none
2   135106        none
3   132667      street
4   132613      street

Data Cleaning

In [3]:
# get list of all columns
parking_df.columns

Index(['placeID', 'parking_lot'], dtype='object')

In [4]:
# Rename placeID column to userid
parking_df = parking_df.rename(columns={"placeID": "placeid"})
parking_df.head()

   placeid parking_lot
0   134999      public
1   132825        none
2   135106        none
3   132667      street
4   132613      street

In [5]:
# check all columns with any missing/null values
parking_df.isna().sum()

placeid        0
parking_lot    0
dtype: int64

In [6]:
# check all duplicate rows
duplicate_rows_df = parking_df[parking_df.duplicated()]
print (f"Number of duplicate rows: {duplicate_rows_df.shape}")

Number of duplicate rows: (0, 2)

Database

In [7]:
# connect to Postgres
engine = create_engine(f"postgresql://postgres:{password}@localhost/restaurant_rating_db")
conn = engine.connect()

In [8]:
# Insert data into Cuisine table
parking_df.to_sql(name='parking', con=engine, if_exists='append', index=False)

In [9]:
# Query the data in Postgres
PARKING = pd.read_sql("SELECT * FROM PARKING", conn)
PARKING.head(10)

   placeid    parking_lot
0   134999         public
1   132825           none
2   135106           none
3   132667         street
4   132613         street
5   135040         street
6   132732           none
7   132875            yes
8   132609  valet parking
9   135082  valet parking